@use 'sass:math';
@import './styles/figma.css';

//// Highlight.js - Theme
////// Highlight.js - CSS

.theme__a11y-dark {
  @import './styles/highlight.js/_a11y-dark';
}

.theme__a11y-light {
  @import './styles/highlight.js/_a11y-light';
}

.theme__atom-one-dark {
  @import './styles/highlight.js/_atom-one-dark';
}

.theme__atom-one-light {
  @import './styles/highlight.js/_atom-one-light';
}

.theme__default {
  @import './styles/highlight.js/default';
}

.theme__dracula {
  @import './styles/highlight.js/dracula';
}

.theme__ocean {
  @import './styles/highlight.js/ocean';
}

.theme__paraiso-dark {
  @import './styles/highlight.js/paraiso-dark';
}

.theme__paraiso-light {
  @import './styles/highlight.js/paraiso-light';
}

.theme__solarized-dark {
  @import './styles/highlight.js/solarized-dark';
}

.theme__solarized-light {
  @import './styles/highlight.js/solarized-light';
}

.theme__vs {
  @import './styles/highlight.js/vs';
}

.theme__vs2015 {
  @import './styles/highlight.js/vs2015';
}

.theme__xcode {
  @import './styles/highlight.js/xcode';
}

/*Variables*/

$global-gutter: 16px;

/*Plugin specific CSS */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

body {
  padding: $global-gutter;
}

button {
  cursor: pointer;
}

.divider {
  margin: $global-gutter 0;
}
.form {
  display: flex;
  flex-direction: row;

  select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    background-image: url(./assets/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: $global-gutter 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.field {
  margin-right: $global-gutter;
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    width: 200px;
  }
}

.compare {
  display: flex;
  flex-direction: row;
  position: relative;
}

.original {
  margin-right: math.div($global-gutter,2);
}

.preview {
  margin-left: math.div($global-gutter,2);
}

.original,
.preview {
  width: 48.5%;
  height: 350px;
  pre {
    width: 100%;
    display: block;
    overflow: auto;
    border-radius: 5px;
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    margin-top: 0;
  }
}

#original-content,
#preview-content {
  width: 100%;
  height: 300px;
  overflow: auto;
}

#original-error {
  background: #fff3cd;
  color: #856404;
  position: absolute;
  bottom: 0px;
  overflow: auto;
  width: 100%;
  box-shadow: 0px -3px 1px -2px rgba(0,0,0,.2), 0px -2px 2px 0 rgba(0,0,0,.14), 0 1px 6px 0 rgba(0,0,0,.12);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #ffeeba;
  opacity: 0;
  display:none;
  &.show-error {
    opacity: 1;
    bottom: 20px;
    transition: all 0.3s ease-in-out;
    display: inline;
  }
  pre {
    margin: 0;
  }
  code {
    display: block;
    margin: $global-gutter;
  }
}
