@import './styles/figma.css';

//// Highlight.js - Theme
////// Highlight.js - CSS

.theme__a11y-dark {
  @import './styles/highlight.js/_a11y-dark';
}

.theme__a11y-light {
  @import './styles/highlight.js/_a11y-light';
}

.theme__atom-one-dark {
  @import './styles/highlight.js/_atom-one-dark';
}

.theme__atom-one-light {
  @import './styles/highlight.js/_atom-one-light';
}

.theme__default {
  @import './styles/highlight.js/default';
}

.theme__dracula {
  @import './styles/highlight.js/dracula';
}

.theme__ocean {
  @import './styles/highlight.js/ocean';
}

.theme__paraiso-dark {
  @import './styles/highlight.js/paraiso-dark';
}

.theme__paraiso-light {
  @import './styles/highlight.js/paraiso-light';
}

.theme__solarized-dark {
  @import './styles/highlight.js/solarized-dark';
}

.theme__solarized-light {
  @import './styles/highlight.js/solarized-light';
}

.theme__vs {
  @import './styles/highlight.js/vs';
}

.theme__vs2015 {
  @import './styles/highlight.js/vs2015';
}

.theme__xcode {
  @import './styles/highlight.js/xcode';
}

/*Plugin specific CSS */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

body {
  padding: 16px;
}

.field {
  label {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
  }
}

.compare {
  display: flex;
  flex-direction: row;
}

.original {
  margin-right: 8px;
}

.preview {
  margin-left: 8px;
}

.original,
.preview {
  width: 48.5%;
  height: 350px;
  pre {
    width: 100%;
    display: block;
    overflow: auto;
    border-radius: 5px;
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    margin-top: 0;
  }
}

#original-content,
#preview-content {
  width: 100%;
  height: 300px;
  overflow: auto;
}
